<ion-header *ngIf="submitted1 == false">
  <ion-toolbar color="primary">
    <ion-buttons slot="start" >
      <ion-button color="dark" (click)="goBack()">
        <ion-icon slot="icon-only" name="arrow-back" ></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title> Registro </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content color="light">
    <div *ngIf="this.submitted1 ===false">
      <form [formGroup]="signupForm" (ngSubmit)="onSubmit1()">
        <h3 style="text-align: center;">Datos Personales</h3>
        <ion-item>
          <ion-label position="floating">Nombre</ion-label>
          <ion-input formControlName="nombre" type="text"  [(ngModel)]="medico.nombre"></ion-input>
        </ion-item>
        <span class="error ion-padding" *ngIf="submitted1 && errCtrl1.nombre.errors?.required" color="danger">
          <ion-text color="danger">Campo Nombre es requerido.</ion-text>
        </span>
        <ion-item>
          <ion-label position="floating">Apellido</ion-label>
          <ion-input formControlName="apellido" type="text" [(ngModel)]="medico.apellido"></ion-input>
        </ion-item>
        <span class="error ion-padding" *ngIf="submitted1 && errCtrl1.apellido.errors?.required">
          <ion-text color="danger">Campo Apellido es requerido.</ion-text> 
        </span>
        <ion-item>
          <ion-label position="floating">Nombre de usuario</ion-label>
          <ion-input formControlName="username" type="text" [(ngModel)]="medico.username"></ion-input>
        </ion-item>
        <span class="error ion-padding" *ngIf="submitted1 && errCtrl1.username.errors?.required" color="danger">
          <ion-text color="danger">Campo Username es requerido.</ion-text>
        </span>
        <ion-item>
          <ion-label position="floating">E-mail</ion-label>
          <ion-input formControlName="email" type="email" [(ngModel)]="medico.email" required></ion-input>
        </ion-item>
        <span class="error ion-padding" *ngIf="submitted1 && errCtrl1.email.errors?.required" color="danger">
          <ion-text color="danger">Campo Email es requerido.</ion-text>
        </span>
        <span class="error ion-padding" *ngIf="submitted1 && errCtrl1.email.errors?.email" color="danger">
          <ion-text color="danger">Formato de email no válido.</ion-text>
        </span>
        <ion-item>
          <ion-label position="floating">Email recuperación</ion-label>
          <ion-input formControlName="recoveryEmail" [(ngModel)]="medico.recoveryEmail"></ion-input>
        </ion-item>
        <span class="error ion-padding" *ngIf="submitted1 && errCtrl1.recoveryEmail.errors?.required" color="danger">
          <ion-text color="danger">Campo Email recuperación es requerido</ion-text>
        </span>
        <span class="error ion-padding" *ngIf="submitted1 && errCtrl1.recoveryEmail.errors?.email" color="danger">
          <ion-text color="danger">Formato de email no válido.</ion-text>
        </span>
        <ion-item>
          <ion-label position="floating">Contraseña</ion-label>
          <ion-input formControlName="password" #passwordEyeRegister  [type]="passwordTypeInput" [(ngModel)]="medico.password" required></ion-input>
          <button  item-end  class="btn_eye_icon"  (click)="togglePasswordMode()">
            <ion-icon  [name]="(passwordTypeInput === 'text')?'eye-off':'eye'"></ion-icon>
        </button>
        </ion-item>

        <span class="error ion-padding" *ngIf="submitted1 && errCtrl1.password.errors?.required" color="danger">
          <ion-text color="danger">Campo contraseña es requerido.</ion-text>
        </span>
        <span class="error ion-padding" *ngIf="submitted1 && errCtrl1.password.errors?.minLength" color="danger">
          <ion-text color="danger">La contraseña debe ser mayor a 8 caracteres</ion-text>
        </span>
        <span class="error ion-padding" *ngIf="submitted1 && errCtrl1.password.errors?.pattern" color="danger">
          <ion-text color="danger">Debe incluir numeros y al menos una mayúscula y no @'s</ion-text>
        </span>

        <ion-row>
          <ion-col>
            <ion-button type="submit" color="success" expand="block" [disabled]="!signupForm.valid"><ion-text>Siguiente</ion-text></ion-button>
          </ion-col>
        </ion-row>
      </form>
    </div>

    <div *ngIf="this.submitted1 === true">
      <form [formGroup]="signupForm2" (ngSubmit)="onSubmit2()">
        <h3 style="text-align: center;">Cuentanos sobre ti</h3>
        <ion-item>
          <ion-label position="floating">Profesión</ion-label>
          <ion-input formControlName="profesion" type="text" [(ngModel)]="medico.profesion"></ion-input>
        </ion-item>
        <span class="error ion-padding" *ngIf="submitted2 && errCtrl2.profesion.errors?.required" color="danger">
          <ion-text color="danger">Campo profesión es requerido</ion-text>
        </span>
        <ion-item>
          <ion-label position="floating">Descripción</ion-label>
          <ion-textarea formControlName="descripcion" type="text"  [(ngModel)]="medico.descripcion"></ion-textarea>
        </ion-item>
        <span class="error ion-padding" *ngIf="submitted2 && errCtrl2.descripcion.errors?.required" color="danger">
          <ion-text color="danger">Campo descripción es requerido</ion-text>
        </span>
        <ion-item>
          <ion-label position="floating">Número Contacto</ion-label>
          <ion-input formControlName="numeroContacto" type="number" [(ngModel)]="medico.numeroContacto"></ion-input>
        </ion-item>
        <span class="error ion-padding" *ngIf="submitted2 && errCtrl2.numeroContacto.errors?.required" color="danger">
          <ion-text color="danger">Campo Número Contacto es requerido</ion-text>
        </span>
        <ion-item>
          <ion-label position="floating">Slogan</ion-label>
          <ion-input formControlName="slogan" type="text" [(ngModel)]="medico.slogan" required></ion-input>
        </ion-item>
        <span class="error ion-padding" *ngIf="submitted2 && errCtrl2.slogan.errors?.required" color="danger">
          <ion-text color="danger">Campo Slogan es requerido</ion-text>
        </span>
        <ion-row>
          <ion-col>
            <ion-button color="danger" expand="block" (click)="regresar()">Regresar</ion-button>
          </ion-col>
          <ion-col>
            <ion-button type="submit" color="success" expand="block" [disabled]="!signupForm2.valid">Registrar</ion-button>
          </ion-col>
        </ion-row>
      </form>
    </div>
</ion-content>