<ion-content color="light">
    <ion-list>
        <ion-list-header>
          <h1>Datos personales</h1>
        </ion-list-header>
        <ion-menu-toggle autoHide="false">
            <ion-item [routerLink]="['/tabs/cuenta/detalle']">
                <ion-icon slot="start" src="../../../../assets/app/cuenta.svg"></ion-icon>
                <ion-label>
                  Cuenta
                </ion-label>
              </ion-item>
          <ion-item [routerLink]="['/tabs/cuenta/especialidades']">
            <ion-icon slot="start" src="../../../../assets/app/especialidad.svg"></ion-icon>
            <ion-label>
              Especialidades
            </ion-label>
          </ion-item>
          <ion-item (click)="logOut()">
            <ion-icon slot="start" src="../../../../assets/app/log-out.svg"></ion-icon>
            <ion-label>
              Cerrar sesión
            </ion-label>
        </ion-item>
        </ion-menu-toggle>
      </ion-list>
</ion-content>
