<ion-tabs>
  <ion-tab-bar id="myTabBar" slot="bottom">
    <ion-tab-button tab="dashboard">
      <img style="height: 25px; width: 25px;" src="../../../assets/app/cita.png" />
      <ion-label>Citas</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="horario">
      <img style="height: 25px; width: 25px;" src="../../../assets/app/horario.png" />
      <ion-label>Horarios</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="historial">
      <img style="height: 25px; width: 25px;" src="../../../assets/app/historial.png" />
      <ion-label>Historial</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="cuenta">
      <img style="height: 25px; width: 25px;" src="../../../assets/app/menu.png" />
      <ion-label>Perfil</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>