<ion-content>
  <ion-slides pager="true">
 
    <!-- Slide 1 -->
    <ion-slide>
      <ion-text color="light">
        <img src="../../../assets/app/slider1.png">
        <h1>¡Bienvenido!</h1>
        <p>Te ayudamos a administrar tus citas médicas y...</p>
        <ion-button (click)="next()" fill="outline" color="light">Siguiente</ion-button>
      </ion-text>
    </ion-slide>
 
    <!-- Slide 2 -->
    <ion-slide>
      <ion-text color="light">
        <img src="../../../assets/app/slider2.png">
        <h1>Dory</h1>
        <p>Se encarga de agendar tus citas en el horario de tu elección</p>
        <ion-button (click)="start()" fill="outline" color="light">Iniciar</ion-button>
      </ion-text>
    </ion-slide>
 
  </ion-slides>
 </ion-content>