<ion-content color="light">
  <ion-card>
    <ion-avatar color="light">
      <img [routerLink]="['/tabs/cuenta/detalle']" src="../../../../assets/app/medic.png">
    </ion-avatar>
    <ion-icon name="information-outline"></ion-icon>
    <ion-label>{{medico.nombre}} {{medico.apellido}}</ion-label>
    <h3> {{medico.profesion}}</h3>
  </ion-card>
  <div class="header">
    <!--<ion-button size="small" (click)="recargar2()">Recargar</ion-button>-->
    <h1 style="text-align: center;">Sección de citas</h1>
  </div>
  <ion-refresher slot="fixed" (ionRefresh)="recargar($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-item-sliding *ngFor="let c of citas">
    <br>
    <ion-item>
      <ion-label position="stacked">Fecha de cita: {{c.fechaCita}}</ion-label>
      <ion-label position="stacked">Estado: {{c.estado}}</ion-label>
      <ion-label position="stacked">Paciente: {{c.paciente}}</ion-label>
      <ion-label position="stacked">Clínica: {{c.clinica}}</ion-label>
      <br>
    </ion-item>
  </ion-item-sliding>
</ion-content>